{% extends 'default.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/ltabdefault.css' %}">
{% endblock style %}

{% block ltab %}
<!-- 전체 -->
<div class="notion-app">
  <form method="post" enctype="multipart/form-data" onsubmit="submitForm(event)"> {% csrf_token %}
    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeModal()">닫기</span>
        <!-- 모달 콘텐츠 시작 -->
        <input  type="text" name="inputField1" id="inputField1" placeholder="Search in {{username}}의 Notion..." style="border:none; outline: none;box-shadow: none; width: 100%; padding: 8px; margin-bottom: 10px;">
        <button type="submit" class="modal-button" style="margin-bottom:13px; padding: 10px 20px;">Search</button>
        <div id="searchResults" style="flex-direction:column; height: 390px; overflow: auto; align-items:center;"></div>
        <!-- 모달 콘텐츠 끝 -->
      </div>
    </div>
  </form>

  <div style="display: flex; width: 100%; position: relative; top:2px; justify-content: center;">
    <div id="notionBtn" style="display: flex; align-items: center;" role="button">💖 {{ username }} 님의 Notion</div>

    <!-- 페이지 생성되야함 /newpage/ -->
    {% load static %}
    <div role="button" tabindex="0" aria-label="새 페이지"
      style="position: absolute; user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; display: inline-flex; align-items: center; justify-content: center; flex-shrink: 0; border-radius: 4px; height: 24px; width: 24px; padding: 0px; left: 197px; top:7px"
      onclick="document.location.href='/notion/createNewPage/'">
      <svg role="graphics-symbol" viewBox="0 0 24 24" class="createPage"
        style="width: 24px; height: 24px; display: block; fill: rgb(55, 53, 47); flex-shrink: 0;">
        <g>
          <path fill-rule="evenodd"
            d="M9.944 14.721c.104.094.216.12.336.079l1.703-.688 6.844-6.844-1.406-1.398-6.836 6.836-.711 1.68c-.052.13-.029.242.07.335zm8.102-9.484l1.414 1.406.515-.523a.917.917 0 00.282-.633.76.76 0 00-.258-.61l-.25-.25a.702.702 0 00-.578-.187.975.975 0 00-.617.297l-.508.5zm-9.453.127a3.85 3.85 0 00-3.85 3.85v6.5a3.85 3.85 0 003.85 3.85h6.5a3.85 3.85 0 003.85-3.85V12.95a.85.85 0 10-1.7 0v2.764a2.15 2.15 0 01-2.15 2.15h-6.5a2.15 2.15 0 01-2.15-2.15v-6.5a2.15 2.15 0 012.15-2.15h3.395a.85.85 0 000-1.7H8.593z"
            clip-rule="evenodd">
          </path>
        </g>
      </svg>
    </div>


    <!-- 로그아웃 / 로그인 - 글자가 칸 벗어남, left: 160px -->
    {% if user.is_active %}
    <div id="logBtn" role="button"
      style="font-size:12px; font-weight:500; width: auto; height: 24px; border-radius: 4px; display: flex; justify-content: center; align-items: center;  position: absolute; left: 154px; top:7px;"
      onclick="document.location.href='/account/logout/'">Logout</div>
    {% else %}
    <div id="logBtn" role="button"
      style="font-size:12px; font-weight:500; width: auto; height: 24px; border-radius: 4px; display: flex; justify-content: center; align-items: center;  position: absolute; left: 154px; top:7px;"
      onclick="document.location.href='/account/login/'">Login</div>
    {% endif %}
  </div>


  <!-- 검색 -->
  <div tabindex="0"
    style="display: flex; user-select: none; transition: background 150ms ease 0s; cursor: pointer; border-radius: 6px; margin-left: 0px; margin-right: 0px; font-weight: 500;">
    <div role="button" id="changeBackground" onclick="openModal()">
      <div
        style="flex-shrink: 0; flex-grow: 0; border-radius: 4px; color: rgba(55, 53, 47, 0.65); width: 22px; height: 22px; display: flex; align-items: center; justify-content: center; margin-right: 8px;">
        <svg role="graphics-symbol" viewBox="0 0 24 24" class="newSidebarSearch"
          style="width: 24px; height: 24px; display: block; fill: rgb(145, 145, 142); flex-shrink: 0;">
          <g>
            <path
              d="M4.212 10.915a6.053 6.053 0 016.05-6.057c3.34 0 6.05 2.71 6.05 6.058 0 1.245-.38 2.394-1.04 3.34l3.157 3.17c.234.235.359.55.359.887 0 .703-.528 1.252-1.245 1.252-.337 0-.66-.117-.901-.359l-3.186-3.186a5.843 5.843 0 01-3.194.945c-3.34 0-6.05-2.71-6.05-6.05zm1.788 0a4.262 4.262 0 004.262 4.263 4.268 4.268 0 004.27-4.263 4.27 4.27 0 00-4.27-4.27A4.264 4.264 0 006 10.916z">
            </path>
          </g>
        </svg>
      </div>
      <div
        style="font-weight:500; color:#5F5E5B; flex: 1 1 auto; white-space: nowrap; min-width: 0px; overflow: hidden; text-overflow: ellipsis;">
        Search</div>
    </div>
  </div>

  <!-- 홈 -->
  <div tabindex="0"
    style="display: flex; color: inherit; text-decoration: none; user-select: none; transition: background 150ms ease 0s; cursor: pointer; border-radius: 6px; margin-left: 0px; margin-right: 0px; font-weight: 500;">
    <div role="button" id="changeBackground" onclick="document.location.href='/notion/'">
      <div
        style="flex-shrink: 0; flex-grow: 0; border-radius: 4px; color: rgba(55, 53, 47, 0.65); width: 22px; height: 22px; display: flex; align-items: center; justify-content: center; margin-right: 8px;">
        <svg role="graphics-symbol" viewBox="0 0 24 24" class="newSidebarHome"
          style="width: 24px; height: 24px; display: block; fill: rgb(145, 145, 142); flex-shrink: 0;">
          <g>
            <path d="M13.049 4.56l-1.05-.41-1.047.413.865 1.493.185-.155 2.564 2.15-1.517-3.49z"></path>
            <path
              d="M10.952 4.563L4.828 9.698a2.759 2.759 0 00-.986 2.114v5.315c0 .76.228 1.46.772 1.987l.005.005c.543.518 1.249.731 2.012.731h3.53c.47 0 .85-.38.85-.85v-4.782c0-.058.047-.104.104-.104h1.774c.058 0 .104.046.104.104V19c0 .47.381.85.85.85h3.53c.76 0 1.461-.215 2.003-.731l-.95-1.642a.785.785 0 01-.223.411c-.152.146-.395.262-.83.262h-2.68v-3.932c0-.997-.807-1.804-1.804-1.804h-1.774c-.996 0-1.804.807-1.804 1.804v3.932h-2.68c-.44 0-.685-.116-.837-.26-.138-.135-.252-.352-.252-.763v-5.315c0-.313.139-.61.379-.811l5.896-4.945-.865-1.493zm8.223 5.135L13.05 4.56l1.517 3.49L18.084 11c.24.2.378.498.378.81v5.202l.916 2.106c.551-.526.784-1.228.784-1.992v-5.315c0-.816-.36-1.59-.986-2.114z">
            </path>
            <path
              d="M18.426 17.477l.95 1.642-.915-2.106v.114c0 .137-.013.252-.035.35zM13.049 4.56c-.273-.228-.627-.41-1.05-.41l1.05.41z">
            </path>
            <path d="M12 4.15c-.422 0-.776.182-1.048.413L12 4.15z"></path>
          </g>
        </svg>
      </div>
      <div style="font-weight:500; color:#5F5E5B; flex: 1 1 auto; white-space: nowrap; min-width: 0px; overflow: hidden; text-overflow: ellipsis;">Home</div>
    </div>
  </div>


  <!-- 빈공간 -->
  <div
    style="display: flex; flex-shrink: 0; width: 100%; box-shadow: transparent 0px 0px 0px; transition: box-shadow 300ms ease 0s; height: 100px; margin-top: -2px;">
  </div>


  <!-- 개인 페이지 -->
  <div style="z-index: 1; padding: 6px 8px 20px; overflow: hidden auto; margin-right: 0px; margin-bottom: 0px;">
    <div style="width: 100%;">
      <div class="notion-outliner-private-header-container"
        style="width: 100%; display: flex; flex-direction: column; gap: 1px; margin-bottom: 12px;">
        <div role="button" tabindex="0" id="showPage" aria-controls="addPage" aria-expanded="false"
          style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; border-radius: 6px; height: 30px;">
          <div style="padding: 5px 8px;">
            <span
              style="text-transform: initial; font-size: 14px; line-height: 1; color: rgb(145, 145, 142); font-weight: 500; transition: color 100ms ease-out 0s;">개인
              페이지</span>
          </div>
          <div style="margin-left: auto;">
            <div
              style="display: flex; align-items: center; pointer-events: pointer; opacity: 0; transition: opacity 150ms ease 0s;">
              <div id="addpage" role="button" onclick="location.href='/notion/createNewPage/'" tabindex="0"
                class="shadow-cursor-new-page-sidebar" aria-label="페이지 추가"
                style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; display: flex; align-items: center; justify-content: center; height: 20px; width: 20px; border-radius: 5px; margin-right: 6px;">
                <span></span>
                <svg role="graphics-symbol" viewBox="0 0 14 14" class="plusThick"
                  style="width: 14px; height: 14px; display: block; fill: rgba(55, 53, 47, 0.45); flex-shrink: 0;">
                  <path
                    d="M2 7.16357C2 7.59692 2.36011 7.95093 2.78735 7.95093H6.37622V11.5398C6.37622 11.9731 6.73022 12.3271 7.16357 12.3271C7.59692 12.3271 7.95093 11.9731 7.95093 11.5398V7.95093H11.5398C11.9731 7.95093 12.3271 7.59692 12.3271 7.16357C12.3271 6.73022 11.9731 6.37622 11.5398 6.37622H7.95093V2.78735C7.95093 2.36011 7.59692 2 7.16357 2C6.73022 2 6.37622 2.36011 6.37622 2.78735V6.37622H2.78735C2.36011 6.37622 2 6.73022 2 7.16357Z">
                  </path>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div style="width:100%;">
          {{ borderList|safe}}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function toggleContent(event) {
    var element = event.target.parentNode.parentNode.parentNode;
  }

  function iconChange(e) {
    grid1 = e.target.children[0].children[0].children[0];
    grid2 = e.target.children[0].children[0].children[1];
    grid1.style.opacity = 1 - grid1.style.opacity;
    grid2.style.opacity = 1 - grid2.style.opacity;
    grid1.order = 1 - grid1.order;
    grid2.order = 1 - grid2.order;
    addPageBtn = e.target.querySelector(".addpage");
    addPageBtn.style.opacity = 1 - addPageBtn.style.opacity;

  }


  function openModal() {
    document.getElementById("myModal").style.display = "block";
  }
  function closeModal() {
    document.getElementById("myModal").style.display = "none";
  }
  

// 모달 창 밖을 클릭했을 때 실행되는 함수
  function closeModalOutside(event) {
    var modal = document.getElementById("myModal");
    if (event.target === modal) {
        closeModal();
    }
  }

// 윈도우가 로드될 때 이벤트 리스너를 추가합니다.
window.addEventListener('click', closeModalOutside);

  function getCSRFToken() {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, 10) === 'csrftoken=') {
                cookieValue = decodeURIComponent(cookie.substring(10));
                break;
            }
        }
    }
    return cookieValue;
}
function submitForm(event) {
  event.preventDefault(); // 폼의 기본 동작을 막습니다.
  var inputText = document.getElementById("inputField1").value;
  var formData = new FormData(event.target); // 폼 데이터를 가져옵니다.
  searchNotion()
}

  // 이 함수는 모달 창이 열려 있을 때 호출되어야 합니다.
  function searchNotion() {
    // 여기에 검색 기능을 구현합니다.
    var inputText = document.getElementById("inputField1").value;
  // AJAX나 Fetch API를 사용하여 백엔드로 검색 요청을 보냅니다.
    fetch('/ltab/search-notion/', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      // 만약 CSRF 토큰을 사용하고 있다면 헤더에 추가해야 합니다.
      'X-CSRFToken': getCookie('csrftoken')
    },
    body: JSON.stringify({ search_text: inputText })
  })
  .then(response => response.json())
  .then(data => {
    console.log(data); // 검색 결과 출력 예시
    // 검색 결과를 받아서 프론트엔드에서 처리합니다.
    // 이 부분에서 검색 결과를 화면에 출력하거나 다른 작업을 수행할 수 있습니다.
    displaySearchResults(data);
  })
  .catch(error => console.error('Error:', error));
}

function displaySearchResults(data) {
  var resultsContainer = document.getElementById("searchResults");

  // 이전에 출력된 결과를 지웁니다.
  resultsContainer.innerHTML = "";

  // 받은 JSON 데이터를 반복하여 각 타이틀과 URL을 출력합니다.
  data.results.forEach(result => {
    var title = result.title;
    var url = result.url;

    var resultDiv = document.createElement("div");
    resultDiv.className = "resultDiv";
    resultDiv.setAttribute('style', 'display: flex; justify-content: center; align-items: center; line-height: 120%; width: 94%; user-select: none; min-height: 36px;font-size: 14px;margin:13px 13px 13px 20px; padding: 8px; border: 1px solid #ccc;border-radius: 5px;')

    // 결과를 화면에 출력합니다.
    var titleElement = document.createElement("div");
    titleElement.textContent = title;
    resultDiv.appendChild(titleElement);
    titleElement.setAttribute('style','display:flex; margin-left:13px; font-size: 14px;font-weight: 500;' )

    var urlElement = document.createElement("a");
    urlElement.textContent = "Go to page";
    urlElement.href = url;
    urlElement.setAttribute('style','margin-left:auto; margin-right:15px; display: flex; color: #ACABA9; text-decoration: none;')

    resultDiv.appendChild(urlElement);

    resultsContainer.appendChild(resultDiv);
  });
}

  window.addEventListener('DOMContentLoaded', (event) => {
    const showPageBtns = document.querySelectorAll(".showPage")
    for (btn of showPageBtns) {
      btn.addEventListener("click", toggleContent);
      btn.addEventListener("mouseenter", iconChange);
      btn.addEventListener("mouseleave", iconChange);

    }
    document.querySelector("#showPage").addEventListener("mouseenter", function (e) {
      addPageBtn = e.target.querySelector("#addpage").parentNode;
      addPageBtn.style.opacity = 1 - addPageBtn.style.opacity;
    });
    document.querySelector("#showPage").addEventListener("mouseleave", function (e) {
      addPageBtn = e.target.querySelector("#addpage").parentNode;
      addPageBtn.style.opacity = 1 - addPageBtn.style.opacity;
    });

  });
</script>

{% endblock ltab %}