{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
{% if user.is_active %}
    pass
{% else %}
    <header class="header">
        <a href = "/"><img src="{% static 'notion.png' %}" height="55px"></a>
        <button class = "create">
            <a href="{% url 'create' %}">Get Notion Free</a>
        </button>
        <button class = "login">
            <a href="{% url 'login' %}">Log in</a>
        </button>
    </header>    
    <div class="content">
        <span>Write, plan, organize, play</span>
        <div>Turn ideas into action<br> with Notion's AI-powered workspace.</div>
        <button class="create2"><a href="{% url 'create' %}">Get Notion Free</a></button>
        <img src="{% static 'mainhair.png' %}" width="100%">
    </div>
    <hr class="divider">
    <footer style="text-align: center;">
        <img src="{% static 'mainbottom.png' %}" width="100%" >
    </footer>
{% endif %}
</body>
</html>