{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <script>
        if ('{{ msg }}'.length > 0) {
            alert('{{ msg }}');
        }
        
        function check() {
            // pw1 = document.getElementById("pw1").value;
            // pw2 = document.getElementById("pw2").value;
            pw1 = frm1.password.value;
            pw2 = frm1.pwdch.value;

            if (pw1 == pw2) {
                alert("암호가 일치 합니다.");
            } else {
                alert("암호가 불일치 합니다. 다시 입력하세요.");
                document.getElementById("pw1").value = "";
                document.getElementById("pw2").value = "";
                document.getElementById("pw1").focus();
            }
        }

        function pageSubmit() {
            frm1.method = "post";
            frm1.action = "/account/register/";
            frm1.submit();
        }
    </script>

</head>
<body>
    <header class="header">
        <a href = "/"><img src="{% static 'left.png' %}" ></a>
    </header>
    <form name="frm1" method="post" class="notion">  {% csrf_token %}
    <div>
        <div class="verticle">
            <div class="notion-app">
                <div class="notion-app-inner">
                    <div>
                        <div class="create">
                            Create a Profile
                        </div>
                        <div class="This">
                            This is how you'll appear in Notion
                        </div>
                    </div>
                </div>
                <div class="notion-app-input">
                    <div class="notion-app-input2">
                        <div class="letter">
                            Preffered ID
                        </div>
                        <div class="notion-box">
                            <input placeholder="Mingyu1, Sanghyeon2..." class="notion-box-inner" type="text" name="username">
                        </div>
                        <div class="letter">
                            Set a password
                        </div>
                        <div class="notion-box">
                            <input placeholder="Password" class="notion-box-inner" type="password" id="pw1" name="password">
                        </div>
                        <div class="letter">
                            Check password
                        </div>
                        <div class="notion-box">
                            <input placeholder="Check your password" class="notion-box-inner" type="password" id="pw2" name="pwdch" onchange="check()">
                        </div>
                        <div class="letter">
                            Input your First name
                        </div>
                        <div class="notion-box">
                            <input placeholder="First name " class="notion-box-inner" type="text" name="first_name">
                        </div>
                        <div class="letter">
                            Input your Last name
                        </div>
                        <div class="notion-box">
                            <input placeholder="Last name" class="notion-box-inner" type="text" name="last_name">
                        </div>
                        <div class="letter">
                            Input your Email
                        </div>
                        <div class="notion-box">
                            <input placeholder="Email" class="notion-box-inner" type="email" name="email">
                        </div>
                        <div class="notion-app-input">
                            <input type="submit" class="Continue" value="Continue">
                        </div>
                    </div>
                </div>
                    <p>
                        Your name and photo are displayed to users who invite you to a workspace using your email.<br>
                        By continuing, you acknowledge that you understand and agree to the<br> 
                        <a href="https://www.notion.so/Personal-Use-Terms-of-Service-00e4e5d0f2b9411cbee6493f15779500" 
                        rel="noopener noreferrer">
                        Terms &amp; Conditions</a> and <a href="https://www.notion.so/3468d120cf614d4c9014c09f6adc9091"
                        rel="noopener noreferrer">Privacy Policy
                        </a>
                    </p>
                </div>
            </div>
        </div>        
    </div>
    </form>
</body>
</html>