{% extends "home.html" %}
{% block title %}
탭 메뉴 만들기
{% endblock %}
{% block style %}
<style>
/* CSS 스타일링 */
.tab-menu {
    position: relative;
    margin-left: 230px;
}

.tab-menu button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab-menu button:hover {
    background-color: #ddd;
}

.tab-menu button.active {
    background-color: #fff;
    border-bottom: 2px solid #000;
}

/* 오른쪽 정렬 스타일 */
.share-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.share-button:hover {
    background-color: #ddd;
}

.share-box {
    position: absolute;
    top: calc(100% + 40px); /* 박스를 공유 탭 아래로 위치시킵니다. */
    right: 0;
    min-width: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
    opacity: 0; /* 초기에는 투명하게 설정 */
    pointer-events: none; /* 클릭 이벤트를 비활성화합니다. */
    transition: opacity 0.3s ease-in-out; /* 부드러운 나타나기/사라지기 효과를 추가합니다. */
    padding: 10px;
}

/* 공유 박스가 나타날 때 */
.share-box.show {
    opacity: 1; /* 투명도를 1로 설정하여 나타나게 합니다. */
    pointer-events: auto; /* 클릭 이벤트를 활성화합니다. */
}
</style>
{% endblock style %}

{% block utab %}
<div class="tab-menu">
  <button class="tablinks" onclick="openTab('tab1')">아자아자 3조!</button>
  <button class="tablinks" onclick="openTab('tab2')">KG프로젝트</button>
  <button class="tablinks" onclick="openTab('tab3')">요구사항 분석</button>
  <!-- 공유 탭 -->
  <button id="shareButton" class="tablinks share-button" onclick="toggleShareBox()">공유</button>
  <!-- 박스 -->
  <div id="shareBox" class="share-box">
    <p>https://www.notion.so/3-066abf1ec70245c1abe0b5f65ccd381c</p>
  </div>
</div>
{% endblock utab %}

{% block bodyscript %}
<script>
function toggleShareBox() {
    var shareBox = document.getElementById("shareBox");
    shareBox.classList.toggle("show"); // 'show' 클래스를 토글하여 나타내거나 숨깁니다.
}
</script>
{% endblock bodyscript %}
