 form {
    z-index: 111;
    border-radius: 6px;
  }
  .modal-button{
    font-weight: 500;
    margin: 2px 9px;
    border-radius: 8px;
  }
  .modal {
    display: none;
    /* 모달 창 초기에는 숨김 */
    position: fixed;
    /* 고정 위치 */
    z-index: inherit;
    /* 다른 요소 위에 표시 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* 화면 크기를 벗어날 경우 스크롤 가능 */
    background-color: rgba(0, 0, 0, 0.4);
    /* 배경 어둡게 처리 */
  }

  /* 모달 내용 스타일 */
  .modal-content {
    border-radius: 16px;
    border: 1px solid #888;
    background-color: #fefefe;
    margin: 90px auto;
    /* 모달 창을 수직 가운데로 정렬 */
    padding-top: 8px;
    padding-left: 1px;
    padding-right: 1px;
    height: 500px;
    min-width: 100px;
    max-width: 700px;
  }

  /* 닫기 버튼 스타일 */
  .close {
    display: none;
  }
  /* 모든 버튼에 적용될 스타일 */
  button {
    border: none;
    background-color: rgb(247, 247, 245);
  }

  button:hover {
    background-color: rgb(239, 239, 237);
  }

  #changeBackground {
    border: none;
    /* 테두리 없음 */
    background-color: rgb(247, 247, 245);
    /* 배경색 설정 */
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 14px;
    min-height: 27px;
    margin: 2px 5px;
    height: 30px;
    padding: 4px 8px;
    z-index: 3px;
  }

  #changeBackground:hover {
    background-color: rgb(239, 239, 237);
    /* 마우스를 올렸을 때 배경색 변경 */
  }

  .dksqhdla {
    border: none;
    /* 테두리 없음 */
    background-color: rgb(247, 247, 245);
    /* 배경색 설정 */
  }

  .dksqhdla:hover {
    background-color: rgb(239, 239, 237);
    /* 마우스를 올렸을 때 배경색 변경 */
  }

  div[role="button"] {
    width: 100%;
    font-size: 14px;
    min-height: 17px;
    height: 30px;
    border-radius: 6px;
  }

  div[role="button"]:hover {
    background-color: rgb(239, 239, 237);
  }

  div[role="button"].alterBtn:hover {
    background-color: rgba(55, 53, 47, 0.08);
  }

  div[role="button"].addpage:hover {
    background-color: rgba(55, 53, 47, 0.08);
  }

  div[role="button"]#addpage:hover {
    background-color: rgba(55, 53, 47, 0.08);
  }

  .tableTr {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .notion-app {
    color: rgb(55, 53, 47);
    fill: currentcolor;
    line-height: 1.5;
    font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: auto;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 100%;
  }

  #notionBtn {
    border-radius: 6px;
    width: 100%;
    line-height: 30px;
    height: 30px;
    position: relative;
    margin: 4px 5px;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    z-index: 1px;
  }

  .listbutton {
    width: 100%;
    height: 30px;
    padding: 1px 4px;
    border-radius: 4px;
  }

  .listbutton:hover {
    background-color: rgb(239, 239, 237);
  }