{% extends 'home.html' %}

{% block title %}
default
{% endblock title %}
{% block headscript %}
{% endblock headscript %}
{% block style %}
{% endblock style %}
{% block utab %}
default
{% endblock utab %}
{% block ltab %}
default
{% endblock ltab %}
{% block page %}
<div
      class="lineblock"
      style="width: 100%; max-width: 100%; margin-top: 1px; margin-bottom: 1px"
    >
      <div
        style="
          display: flex;
          align-items: flex-start;
          width: 100%;
          padding-left: 2px;
          fill: inherit;
        "
      >
        </div>
        <div
          style="
            flex: 1 1 0px;
            min-width: 1px;
            display: flex;
            flex-direction: column;
          "
        >
          <div style="display: flex">
            <div
              spellcheck="true"
              placeholder="텍스트를 입력하세요."
              data-content-editable-leaf="true"
              contenteditable="true"
              style="
                max-width: 100%;
                width: 100%;
                white-space: pre-wrap;
                word-break: break-word;
                caret-color: rgb(55, 53, 47);
                padding: 3px 2px;
                text-align: left;
              "
            >
              개인페이지 버튼:page/&lt;pagepath&gt;
            </div>
            <div style="position: relative; left: 0px"></div>
          </div>
        </div>
      </div>
    </div>
{% endblock page %}
{% block bodyscript %}
{% endblock bodyscript %}
  
