{% extends 'page/default.html' %}

{% block bodyscript2 %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% if page %}
    {{page.content | json_script:"pageContentJSON"}}
    <script>
        document.addEventListener('DOMContentLoaded', async (event) => {
            const title = document.getElementsByClassName('htextblock')[0];
            title.innerHTML = '{{page.title}}';
            var pageContent = JSON.parse(document.getElementById('pageContentJSON').textContent);
            let obj = document.getElementsByClassName('lineblock')[0];
            if (Object.keys(pageContent).length > 0) {
                for (key in pageContent){
                    const text = pageContent[key];
                    const list = text.split('\n');
                    obj.children[1].children[0].children[0].textContent = list[0];
                    if(list.length > 1){
                        for (let i = 1; i < list.length; i++){
                            element = obj.children[1].children[0].children[0];
                            element.appendChild(document.createTextNode('\n'));
                            element.appendChild(document.createTextNode(list[i]));
                        }
                        
                    }
                    obj = await newLineblock(obj, "");
                }
            }
        });
    </script>

    {% endif %}
    <script>
        var targetNode = document.getElementsByClassName('page')[0];

        var observerOptions = {
            childList: true,
            subtree: true,
            characterData: true
        };

        var observer = new MutationObserver(async function(mutations) {
            await sendData();
        });

        document.addEventListener('DOMContentLoaded', async(event) => {
            await setTimeout(3000);
            await observer.observe(targetNode, observerOptions);
        });

        async function sendData() {
            var collected = await collectText()
            var formData = {
                'content': {
                    'title': collected.title,
                    'contents':JSON.stringify(collected.contents),
                },
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            };
            document.querySelector(`#path_{{page.pagepath}}`).innerText = collected.title;

            $.ajax({
                type: 'POST',
                url: '/page/{{pageid}}/save/',
                data: JSON.stringify(formData),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function(response) {
                    console.log('Data saved successfully!');
                },
                error: function(response) {
                    console.log('An error occurred.');
                }
            });
        }
        function collectText() {
            var headtext = document.querySelectorAll('.headerblock .htextblock')[0];
            const title = headtext.innerHTML.replace('<br>', '\n');
            var linetexts = Array.from(document.getElementsByClassName('textinput'));
            var contents = {};
            linetexts.forEach(function(textinput, idx) {
                const text = textinput.innerHTML.replaceAll('<br>', '\\n');
                contents[idx+1] = text;
            });
            return {title, contents};
        }
    </script>
    
{% endblock bodyscript2 %}
    